.box{
          height:100px;
          width:300px;
          background-color:pink;
          /*animation-name: widthAnimate;
          animation-duration: 3s;
          animation-timing-function: ease-in;
          animation-delay:0 ;
          animation-iteration-count: infinite;
          animation-direction: normal;
          */animation: colAnimate 3s ease-in  0s  infinite  normal;
          -webkit-animation:;
}

@keyframes colAnimate {
          0%{
                    background-color: green;
          }
          50% {
                     background-color:yellow;        
                           }
                           80%{
                              background-color:red;
                           }
                           100%{
                              background-color:blue;
                           }
}


@keyframes fontAnimation {
from{font-size:20px; }
to {font-size: 40px; }
  }

  @keyframes colorAnimate {
          from{
                    background-color: green;
          }
          to{
                    background-color:blue;
          }
  }

