 div{
          width:400px;
          height:200px;
          background-color:#7aa874;
          margin:0 auto;
          background-image: url("bgimage.avif");
          background-size:contain;
          color:white;
 }