* {
          font-family:'Courier New';
}

h3 {
          color:purple;
}
 
h1 {
          color: #b92b27;
}

#login {
          background-color: white;
}

#signup {
          background-color: #b92b27;
          color: white;
}

.upvote {
          background-color: green;
          color:white;
}

/* desendant selector */
.post a {
          color:purple;
          background-color:yellow;
} 

nav ul li a{
          color:hotpink;
}
p + h3 {
          text-decoration: underline;
}

.upvote + button {
          background-color:cornflowerblue;
}

div > input {
          background-color:darksalmon;
}

input[type="text"] {
    color:green;
}

input[type="password"] {
          color:red;
}
 
input[type] {
          background-color:ghostwhite;
}

/* #myId p {
          color:green;
} */

div[id="myId"] p{
          color:green;
}

/* Pseudo Class */ 
 /* Hover */
button:hover {
          background-color:black;
          color:white;
}

/* Active */
button:active {
          background-color:hotpink;
          color:black;
}

p:active {
          font-weight: bold;
          color: green;
}

input[type="radio"]:checked + label{
          color:red;
          font-weight: bold;
}

.post:nth-of-type(2) {
          background-color:blanchedalmond;
}

/* Pseudo Elements */
/* first-letter */
h1::first-letter  {
color:black;
}
/* first line */
p::first-line {
    color:purple;
}
/* Selection  */
p::selection {
    background-color:rgb(199,192,58);
}

/* cascading property */

h3 {
    background-color:blue;
}

h3 {
    background-color:yellow;
}